.aboutMe {
	color: black;
	background-color: #F4F4F4;
}
.headerMe {
	text-shadow: -2px -2px black;
}
#linkedin{
	width: 34%;
}
.contact img {
	height: 30%;
	width: 30%;
}
.emailContact {
	width: 30%;
	margin-top: 2%;
}
.contact a i {
	font-size: 48px;
}